<!doctype html>
<html>

<head>
    <title>The Cryptowatcher</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">

    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.0/js/all.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Karla" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway:900" rel="stylesheet">
    <style>
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            font-family: 'Raleway', sans-serif;
        }

        body,
        p,
        div,
        span,
        .label,
        .help,
        .input,
        .select,
        .label,
        #id_description,
        #id_professional_summary {
            font-family: 'Karla', sans-serif;
            font-size: 16px;
        }
    </style>
</head>

<body>
    <nav class="navbar w3-card-2">
        <div class="navbar-brand">
            <a class="navbar-item " href="/" style="font-family: Raleway">
                The Cryptowatcher
            </a>
            <div class="navbar-burger burger" data-target="navbarExampleTransparentExample">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>

        <div id="navbarExampleTransparentExample" class="navbar-menu">

            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="field is-grouped">
                        <p class="control">
                            <a class="button" href="/login" <span class="icon">
                                <i class="fas fa-sign-in-alt"></i>
                                </span>
                                <span>
                                    Login
                                </span>
                            </a>
                        </p>
                        <p class="control">
                            <a class="button is-black" href="/signup">

                                <span>Sign up</span>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </nav>

</body>

</html>